.auth__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;

}

.auth__inputs-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 65px;

    @media (max-width: 525px) {
        padding-bottom: 153px;
    }
}

.auth__text {
    margin: 0;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    color: #A0A0A0;

    @media (max-width: 525px) {
        font-size: 12px;
        line-height: 15px;
    }
}

.auth__link {
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #3456F3;

    @media (max-width: 525px) {
        font-size: 12px;
        line-height: 15px;
    }
}