.menu-container {
    display: none;

    @media (max-width: 768px) {
        display: block;
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: rgba($color: #000000, $alpha: .3);
        transition: .3s all linear;
        transform: translateX(110%);
    }
}

.menu-container.active {
    transform: translateX(0);
}


.nav-menu {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    width: 520px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 92px;

    @media (max-width: 520px) {
        width: 320px;
    }
}

.nav-menu__list {
    margin: 159px auto 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    gap: 29px;

    @media (max-width: 520px) {
        margin: 144px auto 0;
        gap: 25px;
    }
}

.nav-menu__item {
    font-size: 18px;
    line-height: 22px;
}

.nav-menu__link {
    padding: 5px 0;
    text-decoration: none;
    text-align: center;
    color: black;

    &:hover {
        border-bottom: 2px black solid;
    }
}

.nav-menu__link-account {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 0;
    text-decoration: none;
    color: black;

    @media (max-width: 520px) {
        margin-bottom: 133px;
        font-size: 14px;
        line-height: 16px;
    }
}

.nav-menu__account {
    margin-left: 17px;
    background-color: #F9F9F9;
    padding: 8px 7.25px;
    border-radius: 4px;
}