.aboutMe {
  padding: 110px 70px 0;
}

.aboutMe__container {
  padding: 66px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aboutMe__texts {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.aboutMe__title {
  margin: 0;
  padding: 0;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
}

.aboutMe__subtitle {
  margin: 18px 0 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

.aboutMe__description {
  margin: 26px 0 0;
  font-size: 14px;
  line-height: 22px;
}

.aboutMe__link {
  text-decoration: none;
  color: inherit;
  margin: 99px 0 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.aboutMe__image {
  object-fit: contain;
  width: 270px;
  height: 327px;
}