.technology {
  padding: 100px 70px;
  background-color: #F5F5F5;
}

.technology__title {
  margin: 90px auto 0;
  padding: 0;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
}

.technology__description {
  margin: 26px auto 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.04em;
  max-width: 460px;
}

.technology__lists {
  list-style: none;
  margin: 100px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.technology__list {
  background-color: #E8E8E8;
  border-radius: 10px;
  padding: 21px 0 22px;
  min-width: 90px;
  text-align: center;
  transition: .2s all linear;
}

.technology__list:hover {
  transform: scale(1.1);
}